<footer class="footer bg-dark py-3 mt-auto">
	<div class="container">
		<span class="text-muted"
			>muralMaDrs &copy; 2023
			<a
				class="copylink"
				href="https://github.com/madrclouddev/"
				>MaDrCloudDev</a
			></span
		>
	</div>
</footer>
