<!DOCTYPE html>
<html
	lang="en"
	class="h-full">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<title>muralMaDrs | Murals | MaDr</title>
		<link
			rel="stylesheet"
			href="/stylesheets/output.css" />
		<script src="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js"></script>
		<link
			href="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css"
			rel="stylesheet" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
			integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer" />
	</head>

	<body
		class="min-h-full flex flex-col bg-background text-foreground font-sans">
		<%- include('../partials/navbar')%>
		<main
			class="flex-1 max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8 w-full">
			<%- include('../partials/flash')%> <%- body %>
		</main>
		<%- include('../partials/footer')%>
		<script src="/javascripts/validateForms.js"></script>
	</body>
</html>
