body {
	font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI',
		Roboto, sans-serif;
}

.copylink {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.5);
	text-shadow: #000 1px 0 10px;
}

.copylink:hover {
	color: #ab00fe;
}
