html {
	height: -webkit-fill-available;
}

body {
	height: -webkit-fill-available;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url("https://images.unsplash.com/photo-1581850518616-bcb8077a2336?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
	background-size: cover;
	background-position: center;
	text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
	box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}
.cover-container {
	height: -webkit-fill-available;
}

.nav-link {
	padding: 0.2rem 0;
	font-weight: 700;
	color: rgba(255, 255, 255, 0.5);
	margin-top: 0.3rem;
	margin-left: 0.6rem;
	border-bottom: 0.25rem solid transparent;
	text-shadow: #000 1px 0 10px;
}

.nav-link:hover {
	color: rgba(255, 255, 255, 0.5);
	border-bottom-color: rgba(255, 255, 255, 0.5);
}

.nav-link.active {
	color: white;
	border-bottom-color: white;
}

.btn-secondary {
	color: #333;
	text-shadow: none;
}
.btn-secondary:hover {
	color: #ab00fe;
	text-shadow: none;
}

.copylink {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.5);
	text-shadow: #000 1px 0 10px;
}

.copylink:hover {
	color: #ab00fe;
}

.lead {
	font-weight: 600;
	text-shadow: #000 1px 0 10px;
}

.leadtitle {
	text-shadow: #000 1px 0 10px;
}

.logo {
	text-shadow: #000 1px 0 10px;
	text-decoration: none;
	color: white;
	font-weight: 600;
}
